body {
    background-color: darkcyan;
    text-align: center;
    border: 2px solid powderblue;
    color: whitesmoke;
    margin: 50px;
}

header {
    background-color: cadetblue;
    font-size: 30px;
    font-family: Verdana;
    color: aliceblue;
    padding: 30px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    font-size: 20px; /* Adjust the font size */
    padding: 5px 10px; /* Add some padding */
    color: aliceblue; /* Ensure the color matches the header text */
    text-decoration: none; /* Remove underline */
}

header nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

p {
    font-family: Verdana;
}

.flex-container {
    display: flex;
    background-color: white;
    color: darkcyan;
    flex-direction: column;
}