
body {
    background-color: darkcyan;
    text-align: center;
    border: 2px solid powderblue;
    color: whitesmoke;
    margin: 50px;
}

header {
    background-color: cadetblue;
    font-size: 50px;
    font-family: Verdana;
    color: aliceblue;
    padding: 30px;
}

p {
    font-family: Verdana;
    
}

.flex-container {
    display: flex;
    background-color: white;
    color: darkcyan;
    flex-direction: column;
  }